<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppBancario</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DocumentacaoController</display-name>
    <servlet-name>DocumentacaoController</servlet-name>
    <servlet-class>controle.DocumentacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentacaoController</servlet-name>
    <url-pattern>/DocumentacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContaBancariaController</display-name>
    <servlet-name>ContaBancariaController</servlet-name>
    <servlet-class>controle.ContaBancariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContaBancariaController</servlet-name>
    <url-pattern>/ContaBancariaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContaCorrenteController</display-name>
    <servlet-name>ContaCorrenteController</servlet-name>
    <servlet-class>controle.ContaCorrenteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContaCorrenteController</servlet-name>
    <url-pattern>/ContaCorrenteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContaPoupancaController</display-name>
    <servlet-name>ContaPoupancaController</servlet-name>
    <servlet-class>controle.ContaPoupancaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContaPoupancaController</servlet-name>
    <url-pattern>/ContaPoupancaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestimentoController</display-name>
    <servlet-name>InvestimentoController</servlet-name>
    <servlet-class>controle.InvestimentoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestimentoController</servlet-name>
    <url-pattern>/InvestimentoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TitularController</display-name>
    <servlet-name>TitularController</servlet-name>
    <servlet-class>controle.TitularController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitularController</servlet-name>
    <url-pattern>/TitularController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcessoController</display-name>
    <servlet-name>AcessoController</servlet-name>
    <servlet-class>controle.AcessoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoController</servlet-name>
    <url-pattern>/AcessoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TitularDao</display-name>
    <servlet-name>TitularDao</servlet-name>
    <servlet-class>dao.TitularDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitularDao</servlet-name>
    <url-pattern>/TitularDao</url-pattern>
  </servlet-mapping>
</web-app>